

body {
  background-color: #B80000;
  color: #000000;
  background-image: url(http://wallpaperus.org/wallpapers/05/193/serenity-firefly-1920x1080-wallpaper-962693.jpg);
  background-attachment: fixed;
}

nav, section {
  border: solid thick;
  border-radius: 10px;
  padding: 5ex;
  margin: 2ex;
}

footer {
  width: 95%;
  margin: 2em auto;
  border-top: solid thick;
}

header {
  text-align: center;
  color: #FFFFFF;
}

span {
color: #FFFFFF;
}

#moi {
  background-color: #FFFFFF;
  box-shadow: 0 0 15px;
}

h2 {
 color: #FFFFFF;
}

nav {
  font-size: smaller;  
}

nav ul {
  list-style-type: none;
}
